.page4{
    
    margin: 50px 100px;
}
.page4_heading{
     font-size: 1.5rem;
    font-weight: bolder;
}
.page4_navbar{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.page4_navbar > p{
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
}
.page4_navbar > p:hover{
    background-color: #33BBFF;
}
.page4_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.page4_square{
    margin-left: 30px;
    margin-top: 30px;
}